*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{

    font-size: 62.5%;
}

body{
    background-color: hsl(218, 28%, 13%);
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, header, footer{
    font-family: 'Raleway', sans-serif;
}

p, a{
    opacity: 0.7;
    font-size: 1.8rem;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.0rem 5.0rem;
    background-color: hsl(217, 28%, 15%);
}

.nav-header{
    display: flex;
    gap: 5rem;
}

.nav-header a{
    color: #fff;
    letter-spacing: 0.1rem;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.3s;
}

.nav-header a:hover{
    opacity: 1;
    text-decoration: underline;
}

/* banner */

.banner-capa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: hsl(217, 28%, 15%);
    background-image: url(../images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    height: 100vh;
    text-align: center;
    padding: 0 0 5rem 0;
}

.banner-capa img{
    height: 50%;
}

.banner-capa h1{
    font-size: 4.0rem ;
    padding: 0 30%;
}

.banner-capa p{
    padding: 0 30%;
    line-height: 2.6rem;
}

.button-get{
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 2.0rem 7.5rem;
    background-color: hsl(198, 60%, 50%);
    border-radius: 5rem;
    transition: 0.2s;
    cursor: pointer;
}

.button-get:hover{
    background-color: hsl(176, 68%, 64%);
}

/* area serviços */

.area-servicos{
    padding: 0 20%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20%;
    margin-top: 10rem;
}

.conteudo{
    text-align: center;
}

.conteudo h3{
    margin: 1rem auto;
}

/* seção de comentarios */

.secao-coment{
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10rem;
}

.capa-secao-coment{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imagem-capa-secao-coment{
    width: 45%;
}

.conteudo-coment{
    padding-left: 6rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.conteudo-coment h2{
    font-size: 4.0rem;
    padding-right: 35% ;
    margin: 1rem 0;
}

.conteudo-coment p{
    font-size: 1.6rem;
    padding: 1rem 0;
}

.link-secao-coment{
    width: 30%;
    color: hsl(176, 68%, 64%);
    text-decoration: none;
    border-bottom: 2px solid hsl(176, 68%, 64%);
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-top: 1rem
}

.link-secao-coment:hover{
    color: #fff;
    border: none;
}

.comentarios{
    background-image: url(../images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    margin-top: 20vh;
    display: flex;
    justify-content: space-around;
}

.comentario{
    width: 30%;
    padding: 3.0rem;
    background-color: hsl(219, 30%, 18%);
    border-radius: 0.5rem;
    margin-top: 3.5rem;
}

.perfil-usuario{
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.img-profile1, .img-profile2, .img-profile3{
    width: 2.5rem;
    height: 2.5rem;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.img-profile1{
    background-image: url(../images/profile-1.jpg);
}

.img-profile2{
    background-image: url(../images/profile-2.jpg);
}

.img-profile3{
    background-image: url(../images/profile-3.jpg);
}

.dados-usuario h4{
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}

.dados-usuario p{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

/* Area de captação do email */

.secao-email{
    margin: 0 auto;
    width: 55%;
    padding: 5.0rem 6.0rem;
    background-color: hsl(217, 28%, 15%);
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    position: relative;
    top: 12rem
}

.secao-email h3{
    font-size: 4.0rem;
    margin-bottom: 3rem;
}

.secao-email p{
    padding: 0 5%;
    margin-bottom: 3rem;
}

.secao-email input{
    width: 65%;
    padding: 1.5rem 2rem;
    border-radius: 5rem;
    border: none;
    margin-right: 3rem;
}

.secao-email button{
    width: 30%;
    padding: 1.5rem 2rem;
    border: none;
    font-size:1.4rem;
}

/* rodapé */

footer{
    background-color: hsl(216, 53%, 9%);
    padding: 15rem ;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



.links-footer{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.link-footer{
    display: flex;
    margin-bottom: 1rem;
    gap: 2rem;
}

.link-footer p{
    font-size: 1.4rem;
}

.links-footer .links{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    row-gap: 1rem;
}   

.localizacao{
    width: 30%;
}

nav.links a{
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
    
}

.redes-sociais i{
    padding: 1.5rem;
    border-radius: 50%;
    border: 0.1rem solid #fff
}

.redes-sociais .fa-facebook-f{
    padding: 1.5rem 1.8rem;
}

.redes-sociais .fa-instagram{
    padding: 1.5rem 1.6rem
}

.redes-sociais i:not(:last-child){
    margin-right: 1.0rem;
}

@media screen and (max-width: 376px) {
    
body{
    max-width: 375px;
}

p, a{
    font-size: 1.4rem;
}
    
header{
    padding: 2rem;
    width: 100%;
}

header img{
    width: 25%;    
}

.nav-header{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    gap: 0;
}

/* banner */

.banner-capa{
    background-image: url(../images/bg-curvy-mobile.svg);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
}
.banner-capa img{
    width: 60%;
}

.banner-capa h1{
    font-size: 2rem;
    padding: 1rem;
}

.banner-capa p{
    padding: 1rem;
}

.button-get{
    margin-top: 1.2rem;
    padding: 1.5rem 4rem;
}

/* Area serviços */

.area-servicos{
    margin: 2rem 0;
    grid-template-columns: 1fr;
    gap: 4rem;
}

.area-servicos h3{
    font-size: 2rem;
}

/* Seção Comentarios */

.secao-coment{
    margin-top: 5rem;
    height: 100%;
    width: 100vw;
    padding: 0;
}

.capa-secao-coment, .comentarios{
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 1rem;
}

.comentario{
    width: 90%;
}

 /* Seção Email */

 .secao-email{
    width: 90%;
    padding: 2rem 1rem;
 }

 .secao-email h3{
    font-size: 3rem
 }

 .secao-email p{
    padding: 0 1rem;
    letter-spacing: 0.1rem;
    line-height: 2rem
 }

 .secao-email input{
    width: 100%;
 }

 .secao-email .button-get{
    width: 100%;
 }

 footer{
    padding: 20rem 2.5rem 5rem 2.5rem;
 }

 .links-footer{
    flex-direction: column;
    gap: 3rem;
 }

 .link-footer{
    width: 100%;
 }

 .links-footer .links{
    grid-template-columns: 1fr;
 }

 .redes-sociais{
    text-align: center;
 }
}